@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: white;
    color: #666;
}
:root{
    --text-color: #ccc;
    --background-color: rgba(226, 218, 244,0.2);

}
/* light-mode for body class*/
.light{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(./img/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* dark-mode for body class */
.dark{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,1)), url(./img/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* light mode  */
.navbar-light{
    height: 90px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 8px #666;
}
/* dark mode  */
.navbar-dark{
    height: 90px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: rgba(5, .5, 5, 0.1);
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 8px #666;
}
/* light-mode */
.box-light{
    height: auto;
    width: 800px;
    border: 2px solid #666; 
    background-color: var(--background-color);
    box-shadow: 0px 0px 8px #666;
    padding-top: 25px;
    padding-bottom: 90px;
    border-radius: 20px;
    position: relative;
} 
/* dark-mode */
.box-dark{
    height: auto;
    width: 800px;
    border: 2px solid #666; 
    /* background-color: rgba(0,0,0,0.2);  */
    background-color: rgba(5, .5, 5, 0.1);
    box-shadow: 0px 0px 8px #666;  
    padding-top: 25px;
    padding-bottom: 90px;
    border-radius: 20px;
    position: relative;
}
.weather-heading{
    color: var(--text-color) !important;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-shadow: 1px -1px 4px #666;
    position: fixed;
    top: 20px;
    left: 30px;
}

/* darkmode light mode button */
#btn1{
    height: 45px;
    width: 180px;
    margin-top: 20px !important;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 4px #ccc;
    border: none;
    position: fixed;
    top: 0;
    right: 50px;
}
#btn1:active{
    border: 2px solid white;
}
/* hide for desktop */
.weather-header{
    display: flex;
    justify-content: space-between;
}
.weather-heading1{
    color: var(--text-color) !important;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 20px;
    text-shadow: 1px -1px 4px #666;
    font-size: 1.4rem;
    display: none;
}
/* hide for desktop */
#btn2{
    height: 45px;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    color: white;
    border: none;
    position: absolute;
    top: 16px;
    right: 20px;
    display: none;
}
/* input */
input{
    height: 45px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: 4px solid #fff;
    margin-top: 30px !important;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}
input::placeholder{
    font-family: "Poppins", sans-serif;
    color: #666;
}
input:focus{
    border: 4px solid #ccc;
}
h1{
    color: white;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    font-weight: 500;
    font-size: 2.5rem;
}
h3{
    color: white;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.parent{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.form-button{
    height: 45px;
    width: 180px;
    margin-top: 20px !important;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 0px 15px #666;
    border: none;
}
.form-button:active{
    border: 2px solid #000;
}
/* footer light mode  */
.footer-light{
    height: 90px;
    width: 100%;
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 8px #666;
}
/* footer dark mode  */
.footer-dark{
    height: 90px;
    width: 100%;
    background-color: rgba(5, .5, 5, 0.1);
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 8px #666;
}
.footer-heading{
    text-align: center;
    padding-top: 10px;
    font-family: 'poppins';
    font-weight: 400 !important;
    color: var(--text-color);
    text-shadow: 1px -1px 4px #666;
}

/* media query add  */

@media screen and (max-width:830px) {
    .box-light{
        width: 90%;
    }
    .box-dark{
        width: 90%;
    }
}
@media screen and (max-width:530px) {
    .navbar-light{
        height: 80px;
    }
    .weather-heading{
        /* display: none; */
        font-size: 1.5rem !important;
    }
    #btn1{
        /* display: none; */
        font-size: 0.9rem;
        width: 150px;
        position: fixed;
        top: 0;
        right: 20px;
    }
    .footer-heading{
        font-size: 1rem;
    }
}

@media screen and (max-width:380px) {
    .weather-heading{
        display: none;
    }
    #btn1{
        display: none;
    }
     .weather-heading1{
        display: block;
    }
    #btn2{
        display: block;
    }
    .navbar-light{
        background-color: transparent;
        box-shadow: 0 0 0 #ccc;
    }
    .navbar-dark{
        background-color: transparent;
        box-shadow: 0 0 0 #ccc;
    }
    input{
        width: 90%;
        margin-top: 50px !important;
    }
    .form-button{
        margin-top: 0px !important;
    }
    .footer-light{
        background-color: transparent;
        box-shadow: 0 0 0 #ccc;
    }
    .footer-dark{
        background-color: transparent;
        box-shadow: 0 0 0 #ccc;
    }
    .footer-heading{
        /* display: none; */
        font-size: 0.8rem;
        position: relative;
        top: 20px;
    }
}
   